html {
  font-size: 10px;
  background: url('images/background.svg');
  background-color: #1c1c1c;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15vh;
}

h1 {
  color: #ffc600;
  font-family: "Arvo", cursive;
  font-size: 6.25rem;
  text-shadow: 5px 0 black;
  text-align: center;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  cursor: pointer;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

@media(max-width: 694px) {
  .wrapper {
    gap: 7vh;
  }
}

@media(max-width: 520px) {
  .wrapper {
    gap: 4vh;
  }
}
